* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Calibri";
  src: url("./assets/fonts/Calibri.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}